@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We promise to always and forever take good care of your personal information.</p>

<p>We will never sell your data to anyone who is paying less than market value because we belive it is our customers' right to be screwed over in a profitable manner</p>
<p>Furthermore, we endeavour to keep your data for only as long as we can upuse them in the very most vile ways imaginable</p>